/* * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
} */
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    height: 100%;
    width: 100%;
    font-style: normal;
    background-color: white; 
}

#root {
    height: 100%;
    width: 100%;
}

.tableWidth {
    width: auto;
    overflow: auto !important;
}